* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.banner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 101vh;
    left: 0;
    position: fixed;
    top: 0;
    transition: background-image 0.5s ease-in-out;
    width: 101vw;
    z-index: -1; 
}

#banner {
    margin-top: 2rem;
    width: 90vw;
}

body {
    align-items:center;
    background: url(../assets/img/fiphone.jpg);
    background-color: #111;
    background-size: cover;
    background-repeat: no-repeat; 
    display: flex;
    flex-direction: column;
    font-family:sans-serif;
    font-size: 16px;
    justify-content: space-between;
    overflow-x: hidden;
}

#box-banner {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100vw;
}

.box-social {
    align-items: center;
    display: flex;
    justify-content: center;
}

button {
    cursor: pointer;
    opacity: 0.7;
    width: 13vw;
}

#contenedor-input {
    display: flex;
    font-family: "Honk", sans-serif;
    justify-content: space-around;
    width: 95vw;
}

footer {
    background-color: #272727;
    bottom: 0rem;
    color:#ffffff;
    display: flex;
    font-size: 2.5vw;
    height: 8vh;
    justify-content: space-around;
    opacity: 0.8;
    position: fixed;
    text-shadow: 0 0 5px #000000, 0 0 5px #000000, 0 0 5px #000000;
    width: 100vw;
}

header {
    align-items: center;
    bottom: 200rem;
    display: flex;
    font-family: "Honk", sans-serif;
    font-size: 3.5vw;
    flex-direction: column;
    height: 22vh;
    justify-content: space-around;
    position: sticky;
    width: 100vw;
}

header p {
    font-size: 5.4vw;
}

.info-movie {
    font-size: 3vw;
    color: #000000;
    margin-bottom: 1vw;
    text-shadow: 0 0 2px #fafafa, 0 0 2px #ffffff, 0 0 2px #f6f6f6;
}

#info-personal {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.logo {
    cursor: pointer;
    margin: 0rem 0.5rem 0rem 0rem;
    width: 2.5vw;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#pelicula-input {
    opacity: 0.5;
    width: 32vw;
}

#poster {
    width: 23rem;
    display: none;
}

#redes-sociales {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sub-movie {
    color: #0e0909;
    font-size: 3vw;
    margin: 1rem 0rem 1rem 0rem;
    text-shadow: 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff;
}

#title-movie {
    align-items: center;
    color: #fafafa;
    display: flex;
    font-size: 10vw;
    justify-content: center;
    margin: 1rem 0rem 1rem 0rem;
    text-shadow: 0 0 10px #00ff11, 0 0 20px #51ff00, 0 0 30px #ff00ee;
    width: 100vw;
}



